In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, read csv file
import matplotlib.pyplot as plt # for plot
import seaborn as sns # for plot

In [2]:
data=pd.read_csv("googleplaystore.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [6]:
# columns "Rating", "Type", "Content Rating", "Current Ver", and "Android Ver" have problems

In [7]:
100*data.isnull().sum()/len(data)
# representation in procent

App                0.000000
Category           0.000000
Rating            13.596532
Reviews            0.000000
Size               0.000000
Installs           0.000000
Type               0.009224
Price              0.000000
Content Rating     0.009224
Genres             0.000000
Last Updated       0.000000
Current Ver        0.073794
Android Ver        0.027673
dtype: float64

In [8]:
# Drop nalls
data.dropna(axis=0, inplace=True)

In [9]:
100*data.isnull().sum()/len(data)

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

In [10]:
# Now Exploring each features individually

In [11]:
data.App.value_counts()

ROBLOX                                               9
CBS Sports App - Scores, News, Stats & Watch Live    8
8 Ball Pool                                          7
Candy Crush Saga                                     7
ESPN                                                 7
                                                    ..
Disc Label Print                                     1
Yummly Recipes & Shopping List                       1
Where is my Train : Indian Railway & PNR Status      1
BF Abstract 3d Pictures                              1
Boomerang Make and Race                              1
Name: App, Length: 8190, dtype: int64

In [12]:
# remove duplicates
data.drop_duplicates("App", inplace=True)

In [13]:
data.App.value_counts()

Zap-Map: EV charging points UK                     1
IDM Internet Download Manager                      1
My Talking Angela                                  1
Equestria Amino for MLP                            1
DZ PROMOS - Promotions & Sale Alerts in Algeria    1
                                                  ..
Skype for Business for Android                     1
Shopfully - Weekly Ads & Deals                     1
W Box VMS HD                                       1
Next Launcher 3D Theme Stun-BW                     1
Boomerang Make and Race                            1
Name: App, Length: 8190, dtype: int64

In [14]:
data.groupby("App").count()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
App,,,,,,,,,,,,
+Download 4 Instagram Twitter,1,1,1,1,1,1,1,1,1,1,1,1
- Free Comics - Comic Apps,1,1,1,1,1,1,1,1,1,1,1,1
.R,1,1,1,1,1,1,1,1,1,1,1,1
/u/app,1,1,1,1,1,1,1,1,1,1,1,1
058.ba,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
감성학원 BL 첫사랑,1,1,1,1,1,1,1,1,1,1,1,1
💎 I'm rich,1,1,1,1,1,1,1,1,1,1,1,1
"💘 WhatsLov: Smileys of love, stickers and GIF",1,1,1,1,1,1,1,1,1,1,1,1
📏 Smart Ruler ↔️ cm/inch measuring for homework!,1,1,1,1,1,1,1,1,1,1,1,1
🔥 Football Wallpapers 4K | Full HD Backgrounds 😍,1,1,1,1,1,1,1,1,1,1,1,1

In [15]:
data.Category.value_counts()

FAMILY                 1607
GAME                    912
TOOLS                   717
FINANCE                 302
PRODUCTIVITY            301
LIFESTYLE               301
PERSONALIZATION         296
MEDICAL                 290
BUSINESS                263
PHOTOGRAPHY             263
SPORTS                  260
COMMUNICATION           256
HEALTH_AND_FITNESS      244
NEWS_AND_MAGAZINES      204
SOCIAL                  203
TRAVEL_AND_LOCAL        187
SHOPPING                180
BOOKS_AND_REFERENCE     169
VIDEO_PLAYERS           148
DATING                  134
EDUCATION               118
MAPS_AND_NAVIGATION     118
ENTERTAINMENT           102
FOOD_AND_DRINK           94
AUTO_AND_VEHICLES        73
WEATHER                  72
LIBRARIES_AND_DEMO       63
HOUSE_AND_HOME           62
ART_AND_DESIGN           60
COMICS                   54
PARENTING                50
EVENTS                   45
BEAUTY                   42
Name: Category, dtype: int64

In [16]:
data.groupby("Category").count()

,App,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Category,,,,,,,,,,,,
ART_AND_DESIGN,60,60,60,60,60,60,60,60,60,60,60,60
AUTO_AND_VEHICLES,73,73,73,73,73,73,73,73,73,73,73,73
BEAUTY,42,42,42,42,42,42,42,42,42,42,42,42
BOOKS_AND_REFERENCE,169,169,169,169,169,169,169,169,169,169,169,169
BUSINESS,263,263,263,263,263,263,263,263,263,263,263,263
COMICS,54,54,54,54,54,54,54,54,54,54,54,54
COMMUNICATION,256,256,256,256,256,256,256,256,256,256,256,256
DATING,134,134,134,134,134,134,134,134,134,134,134,134
EDUCATION,118,118,118,118,118,118,118,118,118,118,118,118
ENTERTAINMENT,102,102,102,102,102,102,102,102,102,102,102,102
EVENTS,45,45,45,45,45,45,45,45,45,45,45,45
FAMILY,1607,1607,1607,1607,1607,1607,1607,1607,1607,1607,1607,1607
FINANCE,302,302,302,302,302,302,302,302,302,302,302,302
FOOD_AND_DRINK,94,94,94,94,94,94,94,94,94,94,94,94
GAME,912,912,912,912,912,912,912,912,912,912,912,912
HEALTH_AND_FITNESS,244,244,244,244,244,244,244,244,244,244,244,244
HOUSE_AND_HOME,62,62,62,62,62,62,62,62,62,62,62,62
LIBRARIES_AND_DEMO,63,63,63,63,63,63,63,63,63,63,63,63
LIFESTYLE,301,301,301,301,301,301,301,301,301,301,301,301
MAPS_AND_NAVIGATION,118,118,118,118,118,118,118,118,118,118,118,118
MEDICAL,290,290,290,290,290,290,290,290,290,290,290,290
NEWS_AND_MAGAZINES,204,204,204,204,204,204,204,204,204,204,204,204
PARENTING,50,50,50,50,50,50,50,50,50,50,50,50
PERSONALIZATION,296,296,296,296,296,296,296,296,296,296,296,296
PHOTOGRAPHY,263,263,263,263,263,263,263,263,263,263,263,263
PRODUCTIVITY,301,301,301,301,301,301,301,301,301,301,301,301
SHOPPING,180,180,180,180,180,180,180,180,180,180,180,180
SOCIAL,203,203,203,203,203,203,203,203,203,203,203,203
SPORTS,260,260,260,260,260,260,260,260,260,260,260,260
TOOLS,717,717,717,717,717,717,717,717,717,717,717,717
TRAVEL_AND_LOCAL,187,187,187,187,187,187,187,187,187,187,187,187
VIDEO_PLAYERS,148,148,148,148,148,148,148,148,148,148,148,148
WEATHER,72,72,72,72,72,72,72,72,72,72,72,72

In [17]:
100*data.isnull().sum()/len(data)

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

In [18]:
data.Reviews.unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [19]:
data["Reviews"]=data["Reviews"].astype(int)

In [20]:
data["Reviews"].value_counts()

2         82
3         76
4         74
5         74
1         67
          ..
940        1
42182      1
349384     1
64713      1
136626     1
Name: Reviews, Length: 5319, dtype: int64

In [21]:
data.groupby("Reviews").count()

,App,Category,Rating,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Reviews,,,,,,,,,,,,
1,67,67,67,67,67,67,67,67,67,67,67,67
2,82,82,82,82,82,82,82,82,82,82,82,82
3,76,76,76,76,76,76,76,76,76,76,76,76
4,74,74,74,74,74,74,74,74,74,74,74,74
5,74,74,74,74,74,74,74,74,74,74,74,74
...,...,...,...,...,...,...,...,...,...,...,...,...
44891723,1,1,1,1,1,1,1,1,1,1,1,1
56642847,1,1,1,1,1,1,1,1,1,1,1,1
66577313,1,1,1,1,1,1,1,1,1,1,1,1
69119316,1,1,1,1,1,1,1,1,1,1,1,1
78158306,1,1,1,1,1,1,1,1,1,1,1,1

In [22]:
data["Size"].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '5.5M', '17M', '39M', '31M',
       '4.2M', '23M', '6.0M', '6.1M', '4.6M', '9.2M', '5.2M', '11M',
       '24M', 'Varies with device', '9.4M', '15M', '10M', '1.2M', '26M',
       '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k', '3.6M', '5.7M',
       '8.6M', '2.4M', '27M', '2.7M', '2.5M', '7.0M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '22M', '6.4M', '3.2M', '8.2M', '4.9M', '9.5M', '5.0M',
       '5.9M', '13M', '73M', '6.8M', '3.5M', '4.0M', '2.3M', '2.1M',
       '42M', '9.1M', '55M', '23k', '7.3M', '6.5M', '1.5M', '7.5M', '51M',
       '41M', '48M', '8.5M', '46M', '8.3M', '4.3M', '4.7M', '3.3M', '40M',
       '7.8M', '8.8M', '6.6M', '5.1M', '61M', '66M', '79k', '8.4M',
       '3.7M', '118k', '44M', '695k', '1.6M', '6.2M', '53M', '1.4M',
       '3.0M', '7.2M', '5.8M', '3.8M', '9.6M', '45M', '63M', '49M', '77M',
       '4.4M', '70M', '9.3M', '8.1M', '36M', '6.9M', '7.4M', '84M', '97M',
       '2.0M', '1.9M', '1.8M', '5.3M', '47M', '556k', '526k', '76M',
       '7.6M', '59M', '9.7M', '78M', '72M', '43M', '7.7M', '6.3M', '334k',
       '93M', '65M', '79M', '100M', '58M', '50M', '68M', '64M', '34M',
       '67M', '60M', '94M', '9.9M', '232k', '99M', '624k', '95M', '8.5k',
       '41k', '292k', '80M', '1.7M', '10.0M', '74M', '62M', '69M', '75M',
       '98M', '85M', '82M', '96M', '87M', '71M', '86M', '91M', '81M',
       '92M', '83M', '88M', '704k', '862k', '899k', '378k', '4.8M',
       '266k', '375k', '1.3M', '975k', '980k', '4.1M', '89M', '696k',
       '544k', '525k', '920k', '779k', '853k', '720k', '713k', '772k',
       '318k', '58k', '241k', '196k', '857k', '51k', '953k', '865k',
       '251k', '930k', '540k', '313k', '746k', '203k', '26k', '314k',
       '239k', '371k', '220k', '730k', '756k', '91k', '293k', '17k',
       '74k', '14k', '317k', '78k', '924k', '818k', '81k', '939k', '169k',
       '45k', '965k', '90M', '545k', '61k', '283k', '655k', '714k', '93k',
       '872k', '121k', '322k', '976k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '306k', '175k', '350k', '383k', '454k',
       '1.0M', '70k', '812k', '442k', '842k', '417k', '412k', '459k',
       '478k', '335k', '782k', '721k', '430k', '429k', '192k', '460k',
       '728k', '496k', '816k', '414k', '506k', '887k', '613k', '778k',
       '683k', '592k', '186k', '840k', '647k', '373k', '437k', '598k',
       '716k', '585k', '982k', '219k', '55k', '323k', '691k', '511k',
       '951k', '963k', '25k', '554k', '351k', '27k', '82k', '208k',
       '551k', '29k', '103k', '116k', '153k', '209k', '499k', '173k',
       '597k', '809k', '122k', '411k', '400k', '801k', '787k', '50k',
       '643k', '986k', '516k', '837k', '780k', '20k', '498k', '600k',
       '656k', '221k', '228k', '176k', '34k', '259k', '164k', '458k',
       '629k', '28k', '288k', '775k', '785k', '636k', '916k', '994k',
       '309k', '485k', '914k', '903k', '608k', '500k', '54k', '562k',
       '847k', '948k', '811k', '270k', '48k', '523k', '784k', '280k',
       '24k', '892k', '154k', '18k', '33k', '860k', '364k', '387k',
       '626k', '161k', '879k', '39k', '170k', '141k', '160k', '144k',
       '143k', '190k', '376k', '193k', '473k', '246k', '73k', '253k',
       '957k', '420k', '72k', '404k', '470k', '226k', '240k', '89k',
       '234k', '257k', '861k', '467k', '676k', '552k', '582k', '619k'],
      dtype=object)

In [23]:
# separate text
data["Size"] = data["Size"].apply(lambda x: str(x).replace('M', '000') if 'M' in str(x) else x)
data["Size"] = data["Size"].apply(lambda x: str(x).replace('k', '') if 'k' in str(x) else x)

In [24]:
data["Size"].value_counts()

Varies with device    1169
14000                  148
12000                  146
13000                  143
11000                  143
                      ...
240                      1
50                       1
676                      1
14                       1
430                      1
Name: Size, Length: 413, dtype: int64

In [25]:
data["Size"]=data["Size"].replace('Varies with device',np.nan)

In [26]:
data.groupby("Size").count()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Size,,,,,,,,,,,,
1.0000,4,4,4,4,4,4,4,4,4,4,4,4
1.1000,25,25,25,25,25,25,25,25,25,25,25,25
1.2000,30,30,30,30,30,30,30,30,30,30,30,30
1.3000,27,27,27,27,27,27,27,27,27,27,27,27
1.4000,24,24,24,24,24,24,24,24,24,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...
98000,11,11,11,11,11,11,11,11,11,11,11,11
982,1,1,1,1,1,1,1,1,1,1,1,1
986,1,1,1,1,1,1,1,1,1,1,1,1
99000,29,29,29,29,29,29,29,29,29,29,29,29
994,1,1,1,1,1,1,1,1,1,1,1,1

In [27]:
100*data.isnull().sum()/len(data)

App                0.000000
Category           0.000000
Rating             0.000000
Reviews            0.000000
Size              14.273504
Installs           0.000000
Type               0.000000
Price              0.000000
Content Rating     0.000000
Genres             0.000000
Last Updated       0.000000
Current Ver        0.000000
Android Ver        0.000000
dtype: float64

In [28]:
# got nulls, remove their
data.dropna(axis=0, inplace=True)

In [29]:
# check
100*data.isnull().sum()/len(data)

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

In [30]:
data["Size"].value_counts()

14000    148
12000    146
13000    143
11000    143
15000    138
        ...
511        1
562        1
378        1
809        1
437        1
Name: Size, Length: 412, dtype: int64

In [31]:
data.groupby("Size").count()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Size,,,,,,,,,,,,
1.0000,4,4,4,4,4,4,4,4,4,4,4,4
1.1000,25,25,25,25,25,25,25,25,25,25,25,25
1.2000,30,30,30,30,30,30,30,30,30,30,30,30
1.3000,27,27,27,27,27,27,27,27,27,27,27,27
1.4000,24,24,24,24,24,24,24,24,24,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...
98000,11,11,11,11,11,11,11,11,11,11,11,11
982,1,1,1,1,1,1,1,1,1,1,1,1
986,1,1,1,1,1,1,1,1,1,1,1,1
99000,29,29,29,29,29,29,29,29,29,29,29,29
994,1,1,1,1,1,1,1,1,1,1,1,1

In [33]:
data["Installs"].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000+', '500,000,000+', '100+', '500+', '10+', '1,000,000,000+',
       '5+', '50+', '1+'], dtype=object)

In [32]:
data.Installs.value_counts()

1,000,000+        1174
100,000+           989
10,000+            947
1,000+             673
10,000,000+        646
500,000+           460
5,000,000+         450
50,000+            426
5,000+             412
100+               297
500+               195
50,000,000+        111
100,000,000+        96
10+                 67
50+                 56
5+                   9
500,000,000+         8
1+                   3
1,000,000,000+       2
Name: Installs, dtype: int64

In [34]:
# remove plus
data.Installs = data.Installs.apply(lambda x: x.replace('+', '') if '+' in str(x) else x)

In [35]:
# Remove comma
data["Installs"] = data["Installs"].apply(lambda x: x.replace(',', ''))

In [36]:
# convert into int
data.Installs = data.Installs.apply(lambda x: int(x))

In [37]:
data["Installs"].unique()

array([     10000,     500000,    5000000,   50000000,     100000,
            50000,    1000000,   10000000,       5000,  100000000,
             1000,  500000000,        100,        500,         10,
       1000000000,          5,         50,          1], dtype=int64)

In [38]:
data["Installs"].value_counts()

1000000       1174
100000         989
10000          947
1000           673
10000000       646
500000         460
5000000        450
50000          426
5000           412
100            297
500            195
50000000       111
100000000       96
10              67
50              56
5                9
500000000        8
1                3
1000000000       2
Name: Installs, dtype: int64

In [39]:
data.groupby("Installs").count()

,App,Category,Rating,Reviews,Size,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Installs,,,,,,,,,,,,
1,3,3,3,3,3,3,3,3,3,3,3,3
5,9,9,9,9,9,9,9,9,9,9,9,9
10,67,67,67,67,67,67,67,67,67,67,67,67
50,56,56,56,56,56,56,56,56,56,56,56,56
100,297,297,297,297,297,297,297,297,297,297,297,297
500,195,195,195,195,195,195,195,195,195,195,195,195
1000,673,673,673,673,673,673,673,673,673,673,673,673
5000,412,412,412,412,412,412,412,412,412,412,412,412
10000,947,947,947,947,947,947,947,947,947,947,947,947
50000,426,426,426,426,426,426,426,426,426,426,426,426
100000,989,989,989,989,989,989,989,989,989,989,989,989
500000,460,460,460,460,460,460,460,460,460,460,460,460
1000000,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174
5000000,450,450,450,450,450,450,450,450,450,450,450,450
10000000,646,646,646,646,646,646,646,646,646,646,646,646
50000000,111,111,111,111,111,111,111,111,111,111,111,111
100000000,96,96,96,96,96,96,96,96,96,96,96,96
500000000,8,8,8,8,8,8,8,8,8,8,8,8
1000000000,2,2,2,2,2,2,2,2,2,2,2,2

In [40]:
100*data.isnull().sum()/len(data)

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

In [41]:
data["Type"].unique()

array(['Free', 'Paid'], dtype=object)

In [42]:
data["Type"].value_counts()

Free    6482
Paid     539
Name: Type, dtype: int64

In [43]:
data.groupby("Type").count()

,App,Category,Rating,Reviews,Size,Installs,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Type,,,,,,,,,,,,
Free,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482
Paid,539,539,539,539,539,539,539,539,539,539,539,539

In [44]:
data["Price"].unique()

array(['0', '$4.99', '$6.99', '$7.99', '$3.99', '$5.99', '$2.99', '$1.99',
       '$9.99', '$0.99', '$9.00', '$5.49', '$10.00', '$24.99', '$11.99',
       '$79.99', '$16.99', '$14.99', '$29.99', '$12.99', '$3.49',
       '$10.99', '$7.49', '$1.50', '$19.99', '$15.99', '$33.99', '$39.99',
       '$2.49', '$4.49', '$1.70', '$1.49', '$3.88', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$1.59',
       '$6.49', '$1.29', '$299.99', '$379.99', '$37.99', '$18.99',
       '$389.99', '$8.49', '$1.75', '$14.00', '$2.00', '$3.08', '$2.59',
       '$19.40', '$15.46', '$8.99', '$3.04', '$13.99', '$4.29', '$3.28',
       '$4.60', '$1.00', '$2.90', '$1.97', '$2.56', '$1.20'], dtype=object)

In [45]:
# remove "$"
data["Price"] = data["Price"].apply(lambda x: x.replace('$', '') if '$' in str(x) else x)

In [46]:
# convert into float
data["Price"]=data["Price"].astype(float)

In [47]:
data["Price"].unique()

array([  0.  ,   4.99,   6.99,   7.99,   3.99,   5.99,   2.99,   1.99,
         9.99,   0.99,   9.  ,   5.49,  10.  ,  24.99,  11.99,  79.99,
        16.99,  14.99,  29.99,  12.99,   3.49,  10.99,   7.49,   1.5 ,
        19.99,  15.99,  33.99,  39.99,   2.49,   4.49,   1.7 ,   1.49,
         3.88, 399.99,  17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,
         1.61,   1.59,   6.49,   1.29, 299.99, 379.99,  37.99,  18.99,
       389.99,   8.49,   1.75,  14.  ,   2.  ,   3.08,   2.59,  19.4 ,
        15.46,   8.99,   3.04,  13.99,   4.29,   3.28,   4.6 ,   1.  ,
         2.9 ,   1.97,   2.56,   1.2 ])

In [48]:
data["Price"].value_counts()

0.00     6482
0.99      102
2.99       97
4.99       61
1.99       53
         ...
2.56        1
2.90        1
19.40       1
4.29        1
79.99       1
Name: Price, Length: 68, dtype: int64

In [49]:
data.groupby("Price").count()

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Price,,,,,,,,,,,,
0.00,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482
0.99,102,102,102,102,102,102,102,102,102,102,102,102
1.00,2,2,2,2,2,2,2,2,2,2,2,2
1.20,1,1,1,1,1,1,1,1,1,1,1,1
1.29,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
299.99,1,1,1,1,1,1,1,1,1,1,1,1
379.99,1,1,1,1,1,1,1,1,1,1,1,1
389.99,1,1,1,1,1,1,1,1,1,1,1,1
399.99,11,11,11,11,11,11,11,11,11,11,11,11
400.00,1,1,1,1,1,1,1,1,1,1,1,1

In [50]:
100*data.isnull().sum()/len(data)

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

In [51]:
data["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [52]:
data["Content Rating"].value_counts()

Everyone           5676
Teen                779
Mature 17+          304
Everyone 10+        259
Adults only 18+       2
Unrated               1
Name: Content Rating, dtype: int64

In [53]:
data.groupby("Content Rating").count()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Genres,Last Updated,Current Ver,Android Ver
Content Rating,,,,,,,,,,,,
Adults only 18+,2,2,2,2,2,2,2,2,2,2,2,2
Everyone,5676,5676,5676,5676,5676,5676,5676,5676,5676,5676,5676,5676
Everyone 10+,259,259,259,259,259,259,259,259,259,259,259,259
Mature 17+,304,304,304,304,304,304,304,304,304,304,304,304
Teen,779,779,779,779,779,779,779,779,779,779,779,779
Unrated,1,1,1,1,1,1,1,1,1,1,1,1

In [54]:
data["Genres"].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Auto & Vehicles', 'Beauty',
       'Books & Reference', 'Business', 'Comics', 'Comics;Creativity',
       'Communication', 'Dating', 'Education', 'Education;Creativity',
       'Education;Education', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Brain Games', 'Entertainment;Music & Video',
       'Events', 'Finance', 'Food & Drink', 'Health & Fitness',
       'House & Home', 'Libraries & Demo', 'Lifestyle',
       'Lifestyle;Pretend Play', 'Adventure;Action & Adventure', 'Arcade',
       'Casual', 'Card', 'Casual;Pretend Play', 'Strategy', 'Action',
       'Puzzle', 'Sports', 'Word', 'Racing', 'Casual;Creativity',
       'Simulation', 'Adventure', 'Board', 'Trivia', 'Role Playing',
       'Simulation;Education', 'Action;Action & Adventure',
       'Casual;Brain Games', 'Simulation;Action & Adventure',
       'Educational;Creativity', 'Puzzle;Brain Games',
       'Educational;Education', 'Educational;Brain Games',
       'Educational;Pretend Play', 'Casual;Action & Adventure',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Arcade;Pretend Play',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Racing;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Role Playing;Action & Adventure',
       'Strategy;Action & Adventure', 'Music & Audio;Music & Video',
       'Health & Fitness;Education', 'Adventure;Education',
       'Board;Brain Games', 'Board;Action & Adventure',
       'Board;Pretend Play', 'Casual;Music & Video',
       'Education;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Personalization',
       'Productivity', 'Parenting', 'Parenting;Brain Games',
       'Parenting;Education', 'Parenting;Music & Video', 'Weather',
       'Video Players & Editors', 'News & Magazines', 'Maps & Navigation',
       'Health & Fitness;Action & Adventure', 'Music', 'Educational',
       'Casino', 'Adventure;Brain Games',
       'Video Players & Editors;Music & Video',
       'Entertainment;Creativity', 'Sports;Action & Adventure',
       'Books & Reference;Education', 'Puzzle;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Strategy;Creativity'], dtype=object)

In [55]:
data["Genres"].value_counts()

Tools                        625
Entertainment                417
Education                    391
Action                       276
Personalization              274
                            ...
Strategy;Education             1
Casual;Music & Video           1
Comics;Creativity              1
Education;Brain Games          1
Art & Design;Pretend Play      1
Name: Genres, Length: 111, dtype: int64

In [56]:
data.groupby("Genres").count()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver
Genres,,,,,,,,,,,,
Action,276,276,276,276,276,276,276,276,276,276,276,276
Action;Action & Adventure,11,11,11,11,11,11,11,11,11,11,11,11
Adventure,67,67,67,67,67,67,67,67,67,67,67,67
Adventure;Action & Adventure,5,5,5,5,5,5,5,5,5,5,5,5
Adventure;Brain Games,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
Video Players & Editors,112,112,112,112,112,112,112,112,112,112,112,112
Video Players & Editors;Creativity,1,1,1,1,1,1,1,1,1,1,1,1
Video Players & Editors;Music & Video,1,1,1,1,1,1,1,1,1,1,1,1
Weather,50,50,50,50,50,50,50,50,50,50,50,50
Word,19,19,19,19,19,19,19,19,19,19,19,19

In [57]:
100*data.isnull().sum()/len(data)

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

In [58]:
data["Last Updated"].head()

0     January 7, 2018
1    January 15, 2018
2      August 1, 2018
3        June 8, 2018
4       June 20, 2018
Name: Last Updated, dtype: object

In [59]:
# import the tool to convert time
from datetime import datetime,date

In [60]:
data['date'] = pd.to_datetime(data['Last Updated'])

In [61]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,date
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,2018-01-07
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,2018-01-15
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7000,5000000,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,2018-08-01
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000,50000000,Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,2018-06-08
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8000,100000,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,2018-06-20

In [62]:
temp=pd.to_datetime(data.date)

In [63]:
data['Last_Updated_Days'] = temp.apply(lambda x:date.today()-datetime.date(x))

In [64]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,date,Last_Updated_Days
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,2018-01-07,954 days
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,2018-01-15,946 days
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7000,5000000,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,2018-08-01,748 days
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000,50000000,Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,2018-06-08,802 days
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8000,100000,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,2018-06-20,790 days

In [65]:
# drop columns, that will be not needed any more
data.drop(['date', "Last Updated"],axis =1, inplace = True)

In [66]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Last_Updated_Days
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,Free,0.0,Everyone,Art & Design,1.0.0,4.0.3 and up,954 days
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up,946 days
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7000,5000000,Free,0.0,Everyone,Art & Design,1.2.4,4.0.3 and up,748 days
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000,50000000,Free,0.0,Teen,Art & Design,Varies with device,4.2 and up,802 days
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8000,100000,Free,0.0,Everyone,Art & Design;Creativity,1.1,4.4 and up,790 days

In [67]:
data.isnull().sum()

App                  0
Category             0
Rating               0
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Current Ver          0
Android Ver          0
Last_Updated_Days    0
dtype: int64

In [68]:
data["Android Ver"].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.2 and up',
       '5.0 and up', '6.0 and up', '1.6 and up', '2.1 and up',
       '1.5 and up', '7.0 and up', '4.3 and up', '4.0.3 - 7.1.1',
       '2.0 and up', '2.3.3 and up', 'Varies with device', '3.2 and up',
       '4.4W and up', '5.1 and up', '7.1 and up', '7.0 - 7.1.1',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', '5.0 - 6.0', '1.0 and up'], dtype=object)

In [69]:
# separate text
data['Version_begin']=data["Android Ver"].apply(lambda x:str(x).split(' and ')[0].split(' - ')[0])

In [70]:
data['Version_end']=data["Android Ver"].apply(lambda x:str(x).split(' and ')[-1].split(' - ')[-1])

In [71]:
data.Version_begin.head()

0    4.0.3
1    4.0.3
2    4.0.3
3      4.2
4      4.4
Name: Version_begin, dtype: object

In [72]:
data.Version_end.head()

0    up
1    up
2    up
3    up
4    up
Name: Version_end, dtype: object

In [73]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Last_Updated_Days,Version_begin,Version_end
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,Free,0.0,Everyone,Art & Design,1.0.0,4.0.3 and up,954 days,4.0.3,up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up,946 days,4.0.3,up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7000,5000000,Free,0.0,Everyone,Art & Design,1.2.4,4.0.3 and up,748 days,4.0.3,up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000,50000000,Free,0.0,Teen,Art & Design,Varies with device,4.2 and up,802 days,4.2,up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8000,100000,Free,0.0,Everyone,Art & Design;Creativity,1.1,4.4 and up,790 days,4.4,up

In [75]:
# drop the origin column "Android Ver" and "Current Ver" - will be not needed
data.drop(['Android Ver', "Current Ver"],axis=1,inplace = True)

In [76]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last_Updated_Days,Version_begin,Version_end
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000,10000,Free,0.0,Everyone,Art & Design,954 days,4.0.3,up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000,500000,Free,0.0,Everyone,Art & Design;Pretend Play,946 days,4.0.3,up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7000,5000000,Free,0.0,Everyone,Art & Design,748 days,4.0.3,up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000,50000000,Free,0.0,Teen,Art & Design,802 days,4.2,up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8000,100000,Free,0.0,Everyone,Art & Design;Creativity,790 days,4.4,up